In [1]:
print('Learn Python now!')

Learn Python now!

In [2]:
print('Python is fun')

Python is fun

In [3]:
#dispaly two messages
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [4]:
print("Hello , Python")

Hello , Python

In [5]:
print(12345)

12345

In [6]:
print(123.456)

123.456

In [7]:
print('Let\'s go')

Let's go

In [8]:
print('\\n is skip line')

\n is skip line

In [9]:
print('Leaning Python now!\nPython is fun')

Leaning Python now!
Python is fun

In [10]:
print('|\tHello , world|')

|	Hello , world|

In [11]:
print('|Hello ,\tworld|')

|Hello ,	world|

In [12]:
print('\"Hello , everyone\"')

"Hello , everyone"

In [13]:
print('Radius = ' ,12)

Radius =  12

In [14]:
print('Hello,')
print('worild')

Hello,
worild

In [15]:
print('Hello,', end = '')
print('world')

Hello,world

In [16]:
print('Hello,', end = '***')
print('world')

Hello,***world

In [17]:
print('Hello,','world')

Hello, world

In [18]:
print('***Hello,world', end = '***')
print('')
print('Hello, Python')
print('excellent!!!')

***Hello,world***
Hello, Python
excellent!!!

In [19]:
print('***Hello,world***')
print('Hello, Python')
print('excellent!!!')

***Hello,world***
Hello, Python
excellent!!!

In [20]:
print('***Hello,world', end = '')
print('***')
print('Hello, Python')
print('excellent!!!')

***Hello,world***
Hello, Python
excellent!!!

In [21]:
print(format(100, '8d'))

     100

In [22]:
print(format(100000, '3d'))

100000

In [23]:
print(format(100, '8x'))
print(format(100, ('8o')))
print(format(100, ('8b')))

      64
     144
 1100100

In [24]:
print(format(0.2389, '6.2%'))

23.89%

In [25]:
print(format(123.456, '8.2f'))

  123.46

In [26]:
print(format('Python is fun', '15s'))

Python is fun

In [27]:
print(format('Python is fun', '>15s'))

  Python is fun

In [28]:
print(format(12345, '10d'))

     12345

In [29]:
print(format(12345, '<10d'))

12345

In [30]:
print(format(12345, '^10d'))

  12345

In [31]:
print(12345,12,1234567)
print(12,123,1234567)
print(123,1234567,12345)

12345 12 1234567
12 123 1234567
123 1234567 12345

In [32]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))

     12345
        12
   1234567

In [33]:
print(format(12,'10d'))
print(format(123,'10d'))
print(format(1234567,'10d'))

        12
       123
   1234567

In [34]:
print(format(123,'10d'))
print(format(1234567,'10d'))
print(format(123,'10d'))

       123
   1234567
       123

In [35]:
print(format(12345,'10d'),end ='')
print(format(12,'10d'),end ='')
print(format(1234567,'10d'))

     12345        12   1234567

In [36]:
print(format(12,'10d'),end ='')
print(format(123,'10d'),end ='')
print(format(1234567,'10d'))

        12       123   1234567

In [37]:
print(format(123,'10d'),end ='')
print(format(1234567,'10d'),end ='')
print(format(123,'10d'))

       123   1234567       123

In [38]:
print('%10d'% (12345))

     12345

In [39]:
print('|%10d|'% (12345))

|     12345|

In [40]:
a = 7+8*2-6+8/2
print(a)

21.0

In [41]:
str1 = 'Leanring Pyton'+'is fun'
print(str1)

Leanring Pytonis fun

In [42]:
str2 = 'Learning Python'+\
'is fun'
print(str2)

Learning Pythonis fun

In [43]:
question = 'is your birthday in set1?\n'+\
   '1 3 5 7\n'+\
   '9 11 13 15\n'+\
   '17 19 21 23\n'+\
   '25 27 29 31\n'+\
   '\n Enter 1 for Yes and 0 for No:'
print(question)

is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [44]:
print('Hello, world')
print('Hello', end='')
print('world')
s = 'Hello'+ \
    'world'
print(s)

Hello, world
Helloworld
Helloworld

In [45]:
8/3

2.6666666666666665

In [46]:
8//2

4

In [47]:
8**2

64

In [48]:
100**0.5

10.0

In [49]:
8%3

2

In [50]:
i = 100
j = 100
k = 100
print(i,j,k)

100 100 100

In [51]:
i = j = k = 200
print(i,j,k)

200 200 200

In [52]:
a, b = 100, 200
print(a,b)

100 200

In [53]:
a = 100
b = 200
temp = a
a = b
b = temp
print(a,b)

200 100

In [54]:
a = 100
b = 200
a,b = b,a
print(a,b)

200 100

In [55]:
a = 10
a += 2
print(a)

12

In [56]:
a *= 5
print(a)

60

In [58]:
a//= 3
print(a)

20

In [ ]:
num1,num2,num3 = eval(input('Enter three numbers separated by commas:'))
total = num1 + num2 + num3
average = total / 3
print('total = %d,and average = %f%(total, average)')